{% extends "base.html.twig" %}

{% block title %}{{ t('admin.title')|trans }}{% endblock %}
{% block main %}
    {{ render(controller('App\\Controller\\AdminMenuController:menu')) }}
    {% block adminContent %}
        <div class="container container--admin">
            <section class="section">
                <h1>{{ t('admin.title')|trans }}</h1>
                <div class="stats">
                    {% for stat in stats %}
                        <div class="stats__stat">
                            <div class="stats__number">{{ stat.number }}</div>
                            <div class="stats__title">{{ t(stat.title)|trans }}</div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endblock %}
{% endblock %}