<!DOCTYPE html>
<html lang="pl-PL">
    {{ include('head.html.twig') }}
    <body>
        {{ include('flash.html.twig') }}
        <header>
            {% block menu %}
                    {{ render(controller('App\\Controller\\MenuController:menu')) }}
            {% endblock %}
        </header>
        <main>            
            {% block main %}
            <div class = "mainpage">
                 <div class="blur">  
                <h1 class="title">
                    Cztery kółka® to największa w Polsce platforma online samochodów.            
                </h1>
                
                </div>
                <img src="{{asset('build/images/giulia.png')}}" title="giulia" alt="giulia" class="titleimg">
                <section class="section-about section-about-offer">
                    <div class="container-wrapper">
                        <div class="about-header">
                            <h1 class="about-title">
                                O nas
                            </h1>
                            <div class="about-excerpt">
                                System rezerwacji pojazdów to najnowocześniejsze rozwiązanie umożliwiające rezerwację pojazdów służbowych przez pracowników Twojej firmy. Nasze rozwiązanie pozwoli Ci uniknąć sytuacji, gdy wielu z Twoich pracowników jednocześnie potrzebuje skorzystać z jednego z firmowych aut, dając im prosty i przejrzysty sposób na rezerwację pojazdu na długo przed tym, gdy jest on potrzebny. Sprawia, że unikniesz niepotrzebnych konfliktów oraz komplikacji transportowych w swojej firmie.        
                            </div>
                        </div>

                        <!-- <div class="about-offer">
                            <div class="number">
                                <div class="sign">1</div>
                                <div class="sign">0</div>
                                <div class="sign">0</div>
                                <div class="sign">0</div>
                            </div>
                        <div class="caption">samochodów</div>
                        </div>-->
                    </div>
                </section>


                <section class="section-about section-about-body">
                    <div class="container-wrapper">
                        <div class="about-header">
                            <h1 class="about-title">
                                Każda wersja nadwozia!
                            </h1>
                            <div class="about-excerpt">
                                            Możesz dopasować auto do siebie. Mały, miejski lub duży 
                            SUV. Rodzinne kombi lub dostawczy furgon. Mamy Twoje przyszłe auto!
                            </div>
                        </div>

                        <div class="about-body">
                            <img src="{{asset('build/images/body-types.png')}}" title="giulia" alt="giulia">
                        </div>

                    </div>
                </section>


                <section class="section-about section-about-promo">
                    <div class="container-wrapper">
                        <div class="row">
                            <div class="col-12 col-xl-10 offset-xl-1 col-xxl-8 offset-xxl-2">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="about-promo promo-first">
                                            <div class="promo-header">
                                                <div class="promo-badge">Nowość!</div>
                                                <div class="promo-title">
                                                    Dostęp do najlepszych aut elektrycznych!
                                                </div>
                                            </div>
                                            <div class="promo-image">
                                                <img src="{{asset('build/images/promo-ev.png')}}" title="giulia" alt="giulia">
                                            </div>
                                            <div class="promo-footer">
                                                <div class="promo-content">
                                                    Zebraliśmy najbardziej opłacalne samochody 
                                                    elektryczne w jednym miejscu!
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="about-promo">
                                            <div class="promo-header">
                                                <div class="promo-badge">Nowość!</div>
                                                <div class="promo-title">
                                                    Teraz odbierasz swoje auto pod domem!
                                                </div>
                                            </div>
                                            <div class="promo-image">
                                                <img src="{{asset('build/images/promo-delivery.png')}}" title="giulia" alt="giulia">
                                            </div>
                                            <div class="promo-footer">
                                                <div class="promo-content">
                                                    Samochód możemy dostarczyć pod Twój dom. Ustal szczegóły z naszym Doradcą.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                
                
                    <div class="main_services"> 
                        <div class="services_free"> 
                            <h3 class="h3_free">FREE</h3>
                                <li class="li_free"> ✔️ 50 aut</li>
                                <li class="li_free"> ✔️ 200 użytkowników</li>
                                <li class="li_free"> ✔️ Przejrzysty panel administracyjny</li>
                                <li class="li_free"> ✔️ System rezerwacji pojazdów</li>
                                <li class="li_free"> ✔️ Błyskawiczne dodawanie aut</li>
                                <li class="li_free"> ❌ Pomoc techniczna</li>
                                <li class="li_free"> ❌ Pomoc telefoniczna 24/7</li>
                            <h2>Darmowe</h2>
                            <button class="button_free">Wypróbuj już teraz</button>
                        </div>
                        <div class="services_premium"> 
                            <h3 class="h3_premium">PREMIUM</h3>
                                <li class="li_premium"> ✔️ 100 aut</li>
                                <li class="li_premium"> ✔️ 300 użytkowników</li>
                                <li class="li_premium"> ✔️ Przejrzysty panel administracyjny</li>
                                <li class="li_premium"> ✔️ System rezerwacji pojazdów</li>
                                <li class="li_premium"> ✔️ Błyskawiczne dodawanie aut</li>
                                <li class="li_premium"> ✔️ Pomoc techniczna</li>
                                <li class="li_premium"> ❌ Pomoc telefoniczna 24/7</li>
                            <h2>2500 PLN BRUTTO</h2>
                            <button class="button_premium">Wkrótce dostępne</button>
                        </div>
                        <div class="services_enterprise"> 
                            <h3 class="h3_enterprise">ENTERPRISE</h3>
                                <li class="li_enterprise"> ✔️ 250 aut</li>
                                <li class="li_enterprise"> ✔️ 1000 użytkowników</li>
                                <li class="li_enterprise"> ✔️ Przejrzysty panel administracyjny</li>
                                <li class="li_enterprise"> ✔️ System rezerwacji pojazdów</li>
                                <li class="li_enterprise"> ✔️ Błyskawiczne dodawanie aut</li>
                                <li class="li_enterprise"> ✔️ Pomoc techniczna</li>
                                <li class="li_enterprise"> ✔️ Pomoc telefoniczna 24/7</li>
                            <h2>5000 PLN BRUTTO</h2>
                            <button class="button_enterprise">Wkrótce dostępne</button> 
                        </div>
                </section>
              <div class="foot">
                    Copyright&copy; by Arkadiusz Wrzawiński, Kacper Halamus, Marek Zieleziński, Patryk Wysocki                    
                </div>
            </div>                   
            {% endblock %}
        </main>
    </body>
</html>
