<!DOCTYPE html>
<html lang="pl-PL">
    {{ include('head.html.twig') }}
    <body>
        {{ include('flash.html.twig') }}
        <header>
            {% block menu %}
                {{ render(controller('App\\Controller\\MenuController:menu')) }}
            {% endblock %}
        </header>
        <main>            
            {% block main %}
                <div class="home container">
                    <div class="title">
                        <h1 class="title__text">{{ t('home.header')|trans }}</h1>
                        <img src="{{asset('build/images/giulia.png')}}" title="giulia" alt="giulia" class="title__image">
                    </div>

                    <div class="container">
                        <section class="section section--centered">
                            <h2 class="home__header">{{ t('home.aboutUs')|trans }}</h2>
                            <div class="home__text">{{ t('home.about')|trans }}</div>
                            <a class="button button--callToAction home__button" href="{{ path('app_register') }}">{{ t('home.tryNow')|trans }}</a>
                        </section>

                        <section class="section section--centered">
                            <h2 class="home__header">{{ t('home.promo')|trans }}</h2>
                            <div class="promo">
                                {% for element in promo %}
                                    <div class="promo__element promo__element--{{ element.type }}">
                                        <div class="promo__title">{{ t(element.title)|trans }}</div>
                                        <img src="{{ asset(element.asset) }}" alt="{{ t(element.title)|trans }}" class="promo__image">
                                    </div>
                                {% endfor %}
                            </div>
                        </section>

                        <section class="section">
                            <h2 class="home__header">{{ t('home.prices')|trans }}</h2>
                            <div class="services">
                                {% for service in services %}
                                    <div class="services__service">
                                        <h3 class="services__title">{{ t(service.title)|trans }}</h3>
                                        <ul class="services__list">
                                            {% for element in service.list %}
                                                <li class="services__element"><span class="services__icon">{% if element.enabled|default %}✔️{% else %}❌{% endif %}</span> {{ t(element.title)|trans }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h4 class="services__price">{{ t(service.price)|trans }}</h4>
                                        <div class="services__buttonContainer">
                                            {% if service.button.enabled|default %}
                                                <a class="services__button button button--{{ service.button.type }}" href="{{ path('app_register') }}">{{ t(service.button.text)|trans }}</a>
                                            {% else %}
                                                <div class="services__button button button--{{ service.button.type }}">{{ t(service.button.text)|trans }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                </div>
            {% endblock %}
        </main>
        {% block footer %}
            <footer class="footer">{{ t('footer.authors')|trans|raw }}</footer>
        {% endblock %}
    </body>
</html>
