{% block pagination %}
    <div class="pagination">
        <select name="per_page" class="per_page stylizedSelect">
            {% for option in [5, 10, 25, 50, 100, 250] %}
                <option {% if per_page == option %}selected{% endif %} value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        {% if pages > 1 %}
                <div class="pages">
                    {% if page > 1 %}
                        <a tabindex="0" href="{{ base_link ~ '&page=' ~ (page - 1) }}" class="page_link"><</a>
                    {% endif %}
                    {% for i_page in range(1, pages) %}
                        <a tabindex="0" href="{{ base_link ~ '&page=' ~ i_page }}" class="page_link {% if i_page == page %}page_link--current{% endif %}">{{ i_page }}</a>
                    {% endfor %}
                    {% if page < pages %}
                        <a tabindex="0" href="{{ base_link ~ '&page=' ~ (page + 1) }}" class="page_link">></a>
                    {% endif %}
                </div>
        {% endif %}
    </div>
{% endblock %}